<div class="sidebar">
    <div class="sidebar-jeader" *ngIf="mobile">
        <div class="grid m-0">
            <div class="col-12 center">
                <img class="image-logo-mobile" src="assets/img/logo_app.png" alt="imagen logo certificado electronico">
            </div>
        </div>
    </div>
    <div class="sidebar-menu">
        <ul>
            <li pRipple *ngFor="let item of listaOpciones; let indice = index" [ngClass]="{'selected': item.select}" (click)="goRoute(indice)">
                <i class="{{item.icon}}"></i>
                <span [ngClass]="{'hide': menuMin}" >{{item.title}}</span>
            </li>
        </ul>
    </div>
   <!--  <p-button type="text" (click)="display = true" icon="pi pi-plus" label="Show"></p-button> -->
</div>
