<div class="card shadow-6 mt-1 mx-1" *ngIf="noPortada">
    <div class="col-12 flex justify-content-between align-items-center">
        <div class="text-header-title">
            Consulta de Condena
        </div>
        <div class="text-header-title" *ngIf="!cargandoCondena" >
            {{ listaCondenas.length }} Registro(s) encontrado(s)
        </div>
        <div class="" *ngIf="cargandoCondena">
            <small class="text-loading mr-2">Cargando</small>
            <i class="pi pi-spin pi-spinner icon-header-title" ></i>
        </div>
    </div>
</div>
<!--
<div class="card shadow-6 mt-3 mx-1" *ngIf="cargandoCondena">
    <div class="grid">
        <div class="col-12 px-4 pt-4 pb-0 sm:flex  sm:justify-content-between">
            <div class="md:flex">
                <div class="mr-4 flex pb-1">
                    <p-skeleton width="4rem" styleClass="mr-2"></p-skeleton>
                    <p-skeleton width="12rem"></p-skeleton>
                </div>
                <div class="md:ml-1 flex pb-1">
                    <p-skeleton width="6rem" styleClass="mr-2"></p-skeleton>
                    <p-skeleton width="6rem"></p-skeleton>
                </div>
            </div>
            <div class="flex">
                <p-skeleton width="6rem" styleClass="mr-2"></p-skeleton>
                <p-skeleton width="4rem"></p-skeleton>
            </div>
        </div>
        <div class="col-12 py-0 px-3">
            <hr/>
        </div>
    </div>
    <div class="grid pt-2 pb-2">
        <div class="col-12 py-0 sm:col-6 px-4">
            <div class="grid">
                <div class="col-12 pb-1 pt-2 flex">
                    <p-skeleton width="3rem" styleClass="mr-2"></p-skeleton>
                    <p-skeleton width="12rem"></p-skeleton>
                    
                </div>
                <div class="col-12 pb-1 pt-0 flex ">
                    <p-skeleton width="4rem" styleClass="mr-2"></p-skeleton>
                    <p-skeleton width="8rem"></p-skeleton>
                </div>
                <div class="col-12 pb-1 pt-0 flex">
                    <p-skeleton width="6rem" styleClass="mr-2"></p-skeleton>
                    <p-skeleton width="6rem"></p-skeleton>
                    
                </div>
                <div class="col-12 pb-1 pt-0 flex ">
                    <p-skeleton width="6rem" styleClass="mr-2"></p-skeleton>
                    <p-skeleton width="6rem"></p-skeleton>
                </div>
            </div>
        </div>
        <div class="col-12 py-0 sm:col-6 px-4">
            <div class="grid">
                <div class="col-12 pb-1 pt-2 flex ">
                    <p-skeleton width="3rem" styleClass="mr-2"></p-skeleton>
                    <p-skeleton width="10rem"></p-skeleton>
                    
                </div>
                <div class="col-12 pb-1 pt-0 flex ">
                    <p-skeleton width="6rem" styleClass="mr-2"></p-skeleton>
                    <p-skeleton width="6rem"></p-skeleton>
                    
                </div>
                <div class="col-12 pb-1 pt-0 flex ">
                    <p-skeleton width="6rem" styleClass="mr-2"></p-skeleton>
                    <p-skeleton width="4rem"></p-skeleton>
                </div>
            </div>
        </div>
    </div>
</div>
-->
<div class="card shadow-6 mt-3 mx-1" *ngFor ="let condena of listaCondenas">
    <div class="grid">
        <div class="col-12 px-4 pt-4 pb-0 sm:flex  sm:justify-content-between">
            <div class="md:flex">
                <div class="mr-4 flex pb-1">
                    <label class="mr-1">Nombres:</label>
                    <div class="align-items-center">
                        <span class="text-header-data">{{ condena.nombresApellidos }}</span>
                    </div>
                </div>
                <div class="md:ml-1 flex pb-1">
                    <label class="mr-1">N° Documento:</label>
                    <div class="align-items-center">
                        <span class="text-header-data">{{ condena.documento }}</span>
                    </div>
                </div>
            </div>
            <div class="flex">
                <label class="mr-1">Tipo Consulta:</label>
                <div class="align-items-center">
                    <span class="text-header-data">Condena</span>
                </div>
                
            </div>
        </div>
        <div class="col-12 py-0 px-3">
            <hr/>
        </div>
    </div>

    <div class="grid pt-2 pb-2">
        <div class="col-12 py-0 sm:col-6 px-4">
            <div class="grid">
                <div class="col-12 pb-1 pt-2 flex">
                    <label class="mr-1">Pena:</label>
                    <div class="align-items-center">
                        <span style="text-transform: uppercase;" class="text-body-data">{{ condena.pena }}</span>
                    </div>
                    
                </div>
                <div class="col-12 pb-1 pt-0 flex ">
                    <label class="mr-1">Condena:</label>
                    <div class="align-items-center">
                        <span style="text-transform: uppercase;" class="text-body-data">{{ condena.tiempoCondena }}</span>
                    </div>
                </div>
                <div class="col-12 pb-1 pt-0 flex ">
                    <label class="mr-1">Delito:</label>
                    <div class="align-items-center">
                        <span style="text-transform: uppercase;" class="text-body-data ">{{ condena.delito }}</span>
                    </div>
                    
                </div>
                <div class="col-12 pb-1 pt-0 flex ">
                    <label class="mr-1">Fecha Sentencia:</label>
                    <div class="align-items-center">
                        <span style="text-transform: uppercase;" class="text-body-data ">{{ condena.fechaSentencia.substring(0,10) }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 py-0 sm:col-6 px-4">
            <div class="grid">
                <div class="col-12 pb-1 pt-2 flex ">
                    <label class="mr-1">Rehabilitado:</label>
                    <div class="align-items-center">
                        <span style="text-transform: uppercase;" class="text-body-data ">{{ condena.rehabilitado }}</span>
                    </div>
                </div>
                <div class="col-12 pb-1 pt-0 flex">
                    <label class="mr-1">Fecha Inicio:</label>
                    <div class="align-items-center">
                        <span style="text-transform: uppercase;" class="text-body-data">{{ condena.fechaInicio.substring(0,10) }}</span>
                    </div>
                </div>
                <div class="col-12 pb-1 pt-0 flex ">
                    <label class="mr-1">Fecha Fin:</label>
                    <div class="align-items-center">
                        <span style="text-transform: uppercase;" class="text-body-data ">{{ condena.fechaFin.substring(0,10) }}</span>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</div>
<div class="card shadow-6 mt-4 mx-1" *ngIf="noPortada">
    <div class="col-12 flex justify-content-between">
        <div class="text-header-title">
            Consulta de Prision Preventiva
        </div>
        <div class="text-header-title" *ngIf="!cargandoPrision">
            {{ listaPrisionesPreventiva.length }} Registro(s) encontrado(s)
        </div>
        <div class="flex align-items-center" *ngIf="cargandoPrision">
            <small class="text-loading mr-2">Cargando</small>
            <i class="pi pi-spin pi-spinner icon-header-title"></i>
        </div>
    </div>
</div>
<!--
<div class="card shadow-6  mt-3 mx-1" *ngIf="cargandoPrision">
    <div class="grid">
        <div class="col-12 px-4 pt-4 pb-0 sm:flex  sm:justify-content-between">
            <div class="md:flex">
                <div class="mr-4 flex pb-1">
                    <p-skeleton width="4rem" styleClass="mr-2"></p-skeleton>
                    <p-skeleton width="12rem"></p-skeleton>
                </div>
                <div class="md:ml-1 flex pb-1">
                    <p-skeleton width="6rem" styleClass="mr-2"></p-skeleton>
                    <p-skeleton width="6rem"></p-skeleton>
                </div>
            </div>
            <div class="flex">
                <p-skeleton width="6rem" styleClass="mr-2"></p-skeleton>
                <p-skeleton width="6rem"></p-skeleton>
            </div>
        </div>
        <div class="col-12 py-0 px-3">
            <hr/>
        </div>
    </div>
    <div class="grid pt-2 pb-2">
        <div class="col-12 py-0 sm:col-6 px-4">
            <div class="grid">
                <div class="col-12 pb-1 pt-2 flex">
                    <p-skeleton width="3rem" styleClass="mr-2"></p-skeleton>
                    <p-skeleton width="16rem" height="3rem"></p-skeleton>
                    
                </div>
                <div class="col-12 pb-1 pt-0 flex ">
                    <p-skeleton width="3rem" styleClass="mr-2"></p-skeleton>
                    <p-skeleton width="6rem"></p-skeleton>
                </div>
                <div class="col-12 pb-1 pt-0 flex">
                    <p-skeleton width="6rem" styleClass="mr-2"></p-skeleton>
                    <p-skeleton width="6rem"></p-skeleton>
                    
                </div>
                <div class="col-12 pb-1 pt-0 flex ">
                    <p-skeleton width="6rem" styleClass="mr-2"></p-skeleton>
                    <p-skeleton width="6rem"></p-skeleton>
                </div>
            </div>
        </div>
        <div class="col-12 py-0 sm:col-6 px-4">
            <div class="grid">
                <div class="col-12 pb-1 pt-2 flex ">
                    <p-skeleton width="6rem" styleClass="mr-2"></p-skeleton>
                    <p-skeleton width="6rem"></p-skeleton>
                    
                </div>
                <div class="col-12 pb-1 pt-0 flex ">
                    <p-skeleton width="6rem" styleClass="mr-2"></p-skeleton>
                    <p-skeleton width="12rem"></p-skeleton>
                    
                </div>
            </div>
        </div>
    </div>
</div>
-->
<div class="card shadow-6  mt-3 mx-1" *ngFor ="let prision of listaPrisionesPreventiva">
    <div class="grid">
        <div class="col-12 px-4 pt-4 pb-0 sm:flex  sm:justify-content-between">
            <div class="md:flex">
                <div class="mr-4 flex pb-1">
                    <label class="mr-1">Nombres:</label>
                    <div class="align-items-center">
                        <span class="text-header-data">{{ prision.nombres }}</span>
                    </div>
                </div>
                <div class="md:ml-1 flex pb-1">
                    <label class="mr-1">N° Documento:</label>
                    <div class="align-items-center">
                        <span class="text-header-data">{{ prision.dni }}</span>
                    </div>
                </div>
            </div>
            <div class="flex">
                <label class="mr-1">Tipo Consulta:</label>
                <div class="align-items-center">
                    <span class="text-header-data">Prision Preventiva</span>
                </div>
            </div>
        </div>
        <div class="col-12 py-0 px-3">
            <hr/>
        </div>
    </div>

    <div class="grid pt-2 pb-2">
        <div class="col-12 py-0 sm:col-6 px-4">
            <div class="grid">
                <div class="col-12 pb-1 pt-2 flex">
                    <label class="mr-1">Expediente N°:</label>
                    <div class="align-items-center">
                        <span style="text-transform: uppercase;" class="text-body-data">{{ prision.expediente }}</span>
                    </div>
                </div>
                <div class="col-12 pb-1 pt-0 flex ">
                    <label class="mr-1">Resolución:</label>
                    <div class="align-items-center">
                        <span style="text-transform: uppercase;" class="text-body-data">{{ prision.resDictaPrisionPreventiva }}</span>
                    </div>
                </div>
                <div class="col-12 pb-1 pt-0 flex">
                    <label class="mr-1">Delito:</label>
                    <div class="align-items-center">
                        <span style="text-transform: uppercase;" class="text-body-data">{{ prision.delito }}</span>
                    </div>
                </div>
                <div class="col-12 pb-1 pt-0 flex ">
                    <label class="mr-1">Estado:</label>
                    <div class="align-items-center">
                        <span style="text-transform: uppercase;" class="text-body-data">{{ prision.estado }}</span>
                    </div>
                </div>                   
            </div>
        </div>
        <div class="col-12 py-0 sm:col-6 px-4">
            <div class="grid">
             
                <div class="col-12 pb-1 pt-2 flex ">
                    <label class="mr-1">Tipo Parte:</label>
                    <div class="align-items-center">
                        <span style="text-transform: uppercase;" class="text-body-data ">{{ prision.tipoParte }}</span>
                    </div>
                </div>
                <div class="col-12 pb-1 pt-0 flex ">
                    <label class="mr-1">Medidas:</label>
                    <div class="align-items-center">
                        <span style="text-transform: uppercase;" class="text-body-data ">{{ prision.medida }}</span>
                    </div>
                    
                </div>
                <div class="col-12 pb-1 pt-0 flex">
                    <label class="mr-1">Fecha Inicio:</label>
                    <div class="align-items-center">
                        <span style="text-transform: uppercase;" class="text-body-data">{{ prision.fechaInicio.substring(0,10) }}</span>
                    </div>
                    
                </div>
                <div class="col-12 pb-1 pt-0 flex ">
                    <label class="mr-1">Fecha Fin:</label>
                    <div class="align-items-center">
                        <span style="text-transform: uppercase;" class="text-body-data ">{{ prision.fechaFin.substring(0,10) }}</span>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</div>

